// Header
#header {
    // position: fixed;
    // width: 100%;


    .top-header {
        width: 100%;
        padding: 0px 30px;
        background-color: #12151E;




        .top-left {
            height: 100%;
            // border: 2px solid pink;
            padding: 9px 0px;


            h6 {
                padding-top: 2px;
                font-size: 12px;
                color: #B8C3B9;

            }

            span {
                color: #BCC30B;
            }
        }

        .right {
            // border: 2px solid green;

            ul {
                margin: 0%;

                .li3 {
                    // a {

                    height: 40px;
                    line-height: 40px;
                    // width: 100%;
                    padding-left: 0px;
                    // padding-bottom: 5px;
                    position: relative;

                    &:hover {
                        background-color: rgb(129, 112, 112);

                        &::before {
                            width: 100%;
                            left: 0%;
                        }
                    }

                    &::before {
                        bottom: 0%;
                        // transition: 0.3s ;
                        content: '';
                        // top: 0%;
                        left: 0%;
                        position: absolute;
                        height: 2px;
                        background-color: #BCC30B;
                        width: 0%;
                    }

                    // }




                }




                .li1 {
                    position: relative;

                    &::before {
                        content: '|';
                        color: #616161;
                        position: absolute;
                        left: 100%;
                        font-size: 12px;
                        top: 18%;
                        transform: translate(-20%);


                    }
                }

                li {
                    &:hover {
                        a {
                            color: #e5ec03;

                        }
                    }

                    a {
                        display: inline-block;
                        text-decoration: none;
                        color: #B8C3B9;
                        margin: 0px 10px;
                        font-size: 12px;
                        // padding-right: 5px;
                        transition: 0.3s ease-in;




                    }

                    // i{
                    //     padding: 5px 0;
                    //     &:hover{
                    //         background-color: rgba(128, 128, 128, 0.582);

                    //     }

                    // }


                }


            }
        }


    }

    .menu-header {
        background-color: #252631;
        padding: 25px 0;

        // margin: auto;
        .logo {
            img {
                vertical-align: 0%;
            }

            .bars {
                color: #fff;
                display: none;
            }
        }


        .left-menu {
            ul {
                position: relative;

                .home {
                    a {
                        color: #f2fa09;

                    }


                    &:hover {
                        ul {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(2);
                            transform: translateY(20%);
                        }
                    }

                    ul {
                        // top: -100%;
                        left: 0;
                        transition: 0.3s ease-in-out;
                        position: absolute;
                        height: 110px;
                        width: 40%;
                        opacity: 0;
                        visibility: hidden;
                        transform: scale(1);
                        transform: translateY(0);
                        background-color: #252631;
                        box-shadow: 0px 1px 5px 1px rgba(255, 255, 255, 0.138);
                        padding: 20px 0;

                        li {
                            position: relative;

                            a {
                                color: #fff;
                                padding: 0 20px;

                                &:hover {
                                    &::before {
                                        width: 7%;
                                        opacity: 1;
                                        visibility: visible;

                                    }

                                    // transform: translateX(20%);
                                    padding-left: 35px
                                }

                                &::before {
                                    // transform: translateX(0);
                                    content: '';
                                    transition: 0.3s ease-in-out;
                                    position: absolute;
                                    top: 50%;
                                    left: 10%;
                                    width: 0%;
                                    height: 2px;
                                    background-color: #BCC30B;
                                    opacity: 0;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }

                .movie {
                    color: #BCC30B;

                    &:hover {
                        ul {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(2);
                            transform: translateY(20%);
                        }
                    }

                    ul {
                        // top: -100%;
                        left: 15%;
                        transition: 0.3s ease-in-out;
                        position: absolute;
                        height: 110px;
                        width: 40%;
                        opacity: 0;
                        visibility: hidden;
                        transform: scale(1);
                        transform: translateY(0);
                        background-color: #252631;
                        box-shadow: 0px 1px 5px 1px rgba(255, 255, 255, 0.111);
                        padding: 20px 0;

                        li {
                            position: relative;

                            a {
                                color: #fff;
                                padding: 0 20px;

                                &:hover {
                                    &::before {
                                        width: 7%;
                                        opacity: 1;
                                        visibility: visible;

                                    }

                                    // transform: translateX(20%);
                                    padding-left: 35px
                                }

                                &::before {
                                    // transform: translateX(0);
                                    content: '';
                                    transition: 0.3s ease-in-out;
                                    position: absolute;
                                    top: 50%;
                                    left: 10%;
                                    width: 0%;
                                    height: 2px;
                                    background-color: #BCC30B;
                                    opacity: 0;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }

                .blog {
                    color: #BCC30B;

                    &:hover {
                        ul {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(2);
                            transform: translateY(20%);
                        }
                    }

                    ul {
                        // top: -100%;
                        left: 65%;
                        transition: 0.3s ease-in-out;
                        position: absolute;
                        height: 110px;
                        width: 40%;
                        opacity: 0;
                        visibility: hidden;
                        transform: scale(1);
                        transform: translateY(0);
                        background-color: #252631;
                        box-shadow: 0px 1px 5px 1px rgba(255, 255, 255, 0.111);
                        padding: 20px 0;

                        li {
                            position: relative;

                            a {
                                color: #fff;
                                padding: 0 20px;

                                &:hover {
                                    &::before {
                                        width: 7%;
                                        opacity: 1;
                                        visibility: visible;

                                    }

                                    // transform: translateX(20%);
                                    padding-left: 35px
                                }

                                &::before {
                                    // transform: translateX(0);
                                    content: '';
                                    transition: 0.3s ease-in-out;
                                    position: absolute;
                                    top: 50%;
                                    left: 10%;
                                    width: 0%;
                                    height: 2px;
                                    background-color: #BCC30B;
                                    opacity: 0;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }

                li {
                    a {
                        text-decoration: none;
                        display: inline-block;
                        padding: 0 13px;
                        color: #fff;
                        font-size: 14px;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: bold;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            color: #BCC30B;
                        }
                    }
                }
            }
        }

        .right-menu {

            .search-btn {
                position: relative;

                input {
                    border-radius: 30px;
                    background-color: #12151e;
                    border: none;
                    outline: none;
                    padding: 14px 20px;
                    font-size: 14px;
                    font-family: inherit;
                    font-weight: 500;
                    // width: 50px;
                    color: #fff;
                    // &::placeholder{
                    //     // color: #fff;
                    // }

                }

            }

            .search-icon {
                // position: absolute;
                position: relative;
                bottom: -26%;
                left: -13%;
                //  padding: 10px 0 ;
                //  transform: translate(-50%,-50%);
                color: #E4D804;

                &::before {
                    content: '|';
                    color: #616161;
                    position: absolute;
                    left: -65%;
                    font-size: 10px;
                    top: 10%;
                    transform: translate(-20%);
                }

            }


        }

        .global {
            .global-icon {
                padding-right: 5px;

                i {
                    color: #E4D804;

                    // position: absolute;
                    // bottom: 20%;
                    // left: 50%;
                }
            }

            .drop-lang {

                // position: relative;
                // padding-right: 0%;
                input {

                    color: #fff;
                    width: 50px;
                    background-color: transparent;
                    outline: none;
                    height: 95%;
                    border: none;

                    &::placeholder {
                        color: #fff;
                        font-size: 15px;
                        font-family: inherit;
                        font-weight: bold;

                    }
                }




            }
        }

        .sign {
            a {
                text-decoration: none;
                color: #fff;
                padding: 10px 35px;

                background-color: #1C1F1D;
                border-radius: 30px;
                font-size: 15px;
                font-family: inherit;
                font-weight: bold;
                border: 2px solid #E4D804;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: #E4D804;
                    color: black;
                }
            }
        }

    }
}

// HEADER END


// SECTION1
.section1 {
    height: 100vh;
    width: 100%;
    background-image: url(https://themebeyond.com/html/movflx/img/banner/s_slider_bg.jpg);


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 130px 0 130px;

    .left-section1 {
        h1 {
            color: #E4D804;
            font-family: inherit;
            font-weight: bolder;
            font-size: 1.5rem;
        }

        h2 {
            color: #fff;
            font-size: 55px;
            font-family: inherit;
            font-weight: bold;

            span {
                color: #E4D804;
            }
        }

        .imbd {
            width: 100%;

            p {
                padding: 3px 12px;
                background-color: #fff;
                margin: 0 10px;
                font-size: 12px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
            }

            .hd {
                background-color: transparent;
                border: 1px solid #fff;
                color: #fff;
            }

            span {
                color: rgb(182, 175, 175);
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: #E4D804;
                }
            }

            i {
                font-size: 12px;
                color: #E4D804;
                padding: 5px 10px;

                span {
                    color: #fff;
                }
            }
        }

        a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            padding: 16px 34px;
            letter-spacing: 1px;
            line-height: 1px;
            max-width: 200px;
            text-transform: uppercase;
            touch-action: manipulation;
            margin-bottom: 0;
            margin-top: 40px;


            background-color: transparent;
            border: 1px solid #E4D804;
            border-radius: 25px;
            color: #fff;
            font-size: 12px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bolder;
            transition: 0.3s ease-in-out;

            i {
                padding: 3px 5px;
                font-size: 15px;
                text-align: center;
                display: inline-block;
                line-height: 1;
            }

            &:hover {
                background-color: #E4D804;


            }
        }
    }
}

// SECTION1 END

// Section2

.section2 {
    background-image: url(https://themebeyond.com/html/movflx/img/bg/ucm_bg02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 130px 0 130px;

    .head-section2 {

        p {
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        h1 {
            color: #fff;
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            position: relative;

            &::before {
                background-image: url(https://themebeyond.com/html/movflx/img/images/title_shape.png);
                content: '';
                position: absolute;
                width: 98px;
                height: 7px;
                bottom: -40%;




            }
        }
    }

    .left-select {
        ul {
            .slider-icon {
                .btn1{
                    border-radius: 8mm 0 0 8mm;
                    border-width: 2px 0 2px 2px;
                    border-style: solid;
                    border-color: rgb(58, 57, 57);
                }
                .btn2{
                    border-radius: 0px 8mm 8mm  0px;
                    border-width: 2px 2px 2px 0px;
                    border-style: solid;
                    border-color: rgb(58, 57, 57);
                }
                button {
                    border: none;
                    padding: 10px 0px;
                    background-color:#20212B ;

                    i{
                        color:rgb(158, 158, 158) ;
                        padding: 0 15px;

                    }
                    .icon-2{
                    border-left: 3px solid rgb(58, 53, 53);
                        // padding: 0 15px;
                    }

                }

            }

            li {
                a {
                    text-decoration: none;
                    display: inline-block;
                    color: rgb(158, 158, 158);
                    padding: 10px 25px;
                    background-color: #20212B;
                    margin: 0 10px;
                    border: 2px solid rgb(58, 57, 57);
                    border-radius: 30px;

                }
            }
        }
    }
}





















.fly-button {
    position: fixed;
    // height: 200vh;

    // z-index: 99999999;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    bottom: 20px;

    // bottom:5%;

    a {
        display: inline-block;
        padding: 17px 25px;
        // width: 50px;
        // height: 50px;
        border-radius: 50%;
        background-color: #BCC30B;
        // display: flex;
        // justify-content: end;
        text-decoration: none;
        box-shadow: 0px 30px 30px 2px rgba(0, 0, 0, 0.398);

        i {
            // display: flex;
            // justify-content: end;
            color: black;
            // text-align: center;
        }

    }
}







// #section{
//     width: 100%;
//     height: 100vh;
//     background-color: grey;
//     display: flex;
//     align-items: center;



//     input{
//         display: inline-block;
//         width: 180px;
//         padding: 5px 20px;
//         border: none;
//         outline: none;
//         border-radius: 15px 0px 0px 15px;
//         margin-left: 500px;
//     }

//     button{
//         display: inline-block;
//         width: 50px;
//         padding: 5px 0px;
//         background-color: #fff  ;
//         border: none;
//         border-radius: 0px 15px 15px 0px;

//         i{
//             border-left: 2px solid gray;
//             padding-left: 10px;
//             color: gray;
//         }
//     }

// }






@media(max-width:768px) {
    .top-header {
        // display: none;
        // text-align: centerdis
        display: flex;
        justify-content: center;

        .top-left {
            display: none;
        }


    }

    .section1{
        height: 100%;
    }


    .menu-header {
        .left-menu {
            display: none;
        }

        .right-menu {
            .search-btn {
                display: none;
            }

            .search-icon {
                display: none;
            }
        }
    }
}


@media (min-width:768px) and(max-width:1200px) {



    .menu-header {
        .left-menu {
            display: none;
        }
    }


    .section1{
        height: 100%;
    }
}


@media (max-width:576px) {



    .fly-button{
        display: none;
    }

    .menu-header {
        .left-menu {
            display: none;
        }


        .right-menu {
            .search-btn {
                display: none;
            }

            .search-icon {
                display: none;
            }

            .drop-lang {
                display: none;
            }

            .global-icon {
                display: none;
            }

            .sign {
                display: none;
            }

            .bars {
                display: block;
                // z-index: 9999999999999;
                color: red;
                // margin-right: 20px;
                font-size: 30px;
                color: #fff;
            }
        }
    }


    .section2{
       .head-section2{
           h1{
               width: 100%;
               &::before{
                   width: 100%;
                   background-position: top center;
                   background-repeat: no-repeat;
               }
           }
       }

       .left-select{
           
           .slider-icon{
               display: none;
           }
       }
    }
}
.section--5{
    width: 100%;
    height: 100vh;
    .box5{
        border: 1px solid red;
        width: 400px;
        height:400px;
        display: flex;
        justify-content: center;
        h1{
        text-decoration: none;
        transition: 1s ease;


        }
        &:hover{
            h1{
                text-decoration: underline;

            }
        }
        
    }
}






// @media (max-width: 767.98px) {
//     #header {
//         .top-header {
//             .left{
//                 opacity: 0;
//                 visibility: hidden;
//             }
//             }

//         }

//         .menu-header {
//             width: 100%;

//             .logo {
//                 display: flex;
//                 justify-content: space-between;
//                 width: 100%;


//                 .img-logo {
//                     width: 50%;
//                 }

//                 .bars {
//                     display: block;
//                     width: 50%;

//                 }
//             }

//             .left-menu {
//                 visibility: hidden;
//                 opacity: 0;
//             }

//             .right-menu {
//                 visibility: hidden;
//                 opacity: 0;
//             }

//         }
//     }